$logo-size: 120px;
$logo-size-mobile: 110px;

.header__container {
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 5em;
}

.header__logo {
  display: flex;
  align-content: center;
}

.header__logo-img {
  width: $logo-size;
  height: $logo-size;
}

.header__logo-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;
  font-family: 'Inter';
  font-weight: 100;
  padding-left: 20px;

  .header__logo-name-child {
    margin: 0;

    &:first-of-type {
      font-size: 2.3rem;
      text-transform: uppercase;
    }

    &:nth-of-type(2) {
      font-size: 1.3rem;
    }
  }
}

.header__hamburger-icon {
  font-size: 1.5rem;
  cursor: pointer;
  background-color: aquamarine;
  display: none;
}

.header__close-icon {
  font-size: 1.5rem;
  cursor: pointer;
  background-color: rgb(255, 127, 127);
}

@media screen and (min-width: 1600px) {
  .header__box {
    display: flex;
    justify-content: center;
  }
  .header {
    padding: 1em 0;
    width: 1250px;
  }
}

@media screen and (max-width: 1250px) {
  .header {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 1120px) {
  .header {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 755px) {
  .header__hamburger-icon {
    display: block;
  }

  .header__media-desktop {
    display: none;
  }

  .header {
    flex-direction: row;
    padding: 2em 2em 0;
  }

  .header__logo-img {
    width: $logo-size-mobile;
    height: $logo-size-mobile;
  }
}
