.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7em;
}
.about__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 12.5%;
  margin-right: 12.5%;
}
.about__content {
  display: flex;
  flex-direction: column;
  max-width: 45%;
}
.about__content-header {
  font-size: 3rem;
  padding-left: 0.5em;
  text-transform: uppercase;
  color: #46b8a7;
  width: fit-content;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.about__content-header:after {
  content: "";
  float: left;
  background: rgba(183, 234, 226, 1);
  width: 110%;
  height: 0.4rem;
  left: -5%;
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.about__content-paragraph {
  color: #000;
  font-family: Raleway;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  text-align: left;
}
.about__image-container {
  width: 45%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.about__image-circles{
  width: 0;
}
.about__image { 
  max-width: 400px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
}
.about__image-first{
  .about__image-circle {
    position: relative;
    &:first-of-type {
      min-width: 42px;
      min-height: 43px;
      top: 0px;
      left: -45px;
    }
    &:nth-of-type(2) {
      min-width: 75px;
      min-height: 74px;
      top: 10px;
      left: 0px;
    }
  }
}
.about__image-second{
  .about__image-circle {
    position: relative;
    &:first-of-type {
      min-width: 42px;
      min-height: 43px;
      top: 20px;
      left: -395px;
    }
    &:nth-of-type(2) {
      min-width: 42px;
      min-height: 43px;
      top: 285px;
      left: -60px;
    }
    &:nth-of-type(3){
      min-width: 75px;
      min-height: 74px;
      top: 130px;
      left:-50px;
      z-index: -1;
    }
  }
}

.about__image-third{
  .about__image-circle {
    position: relative;
    &:first-of-type {
      min-width: 42px;
      min-height: 43px;
      top: -10px;
      left: -340px;
    }
    &:nth-of-type(2) {
      min-width: 55px;
      min-height: 54px;
      top: 280px;
      left: -35px;
    }
    &:nth-of-type(3){
      min-width: 75px;
      min-height: 74px;
      top: -50px;
      left:-420px;
      z-index: -1;
    }
  }
}

@media screen and (max-width: 1120px) and (min-width: 930px) {
  .about__content-header {
    font-size: 2.5rem;
  }
  .about__content-paragraph {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 930px) {
      .about__block {
        display: flex;
        flex-direction: column;
        &:nth-of-type(2) {
          flex-direction: column-reverse;
        }
      }
      .about__content {
        max-width: 80%;
     }
     .about__content-header {
      font-size: 2.3rem;
    }
    .about__content-paragraph {
      font-size: 1.3rem;
    }
    }
  @media screen and (max-width: 580px) {
      .about__image{
        max-width: 300px;
      }

      .about__image-second{
        .about__image-circle {
          position: relative;
          &:first-of-type {
            top: 10px;
            left: -305px;
          }
          &:nth-of-type(2) {
            top: 190px;
            left: -35px;
          }
          &:nth-of-type(3){
            top: 50px;
            left:-50px;
            z-index: -1;
          }
        }
      }

      .about__image-third{
        .about__image-circle {
          position: relative;
          &:first-of-type {
            top: -10px;
            left: -280px;
          }
          &:nth-of-type(2) {
            top: 190px;
            left: -35px;
          }
          &:nth-of-type(3){
            top: -50px;
            left:-330px;
            z-index: -1;
          }
        }
      }
  }