@use "sass:map";
@import "../../../styles/helpers/variables";

$input-gray: map.get($colors, input-gray);
$facebook-blue: map.get($colors, facebook-blue);
$light-gray: map.get($colors, light-gray);
$placeholder-gray: map.get($colors, placeholder-gray);
$error-red: map.get($colors, error-red);

.login__form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 6em;
  margin-right: 3em;
}

.login__form-button-icon-row {
  display: flex;
  flex-direction: row;
  gap:1em;
  justify-content: space-between;
  align-items: center;
}

.login__form-input {
  box-sizing: border-box;
  height: 4em;
  border: 0em;
  background-color: $input-gray;
}
.login__form-error{
  color: $error-red;
}
::placeholder {
  color: $placeholder-gray;
  font-size: 1.2em;
  font-weight: 200;
}
.login__form-icons {
  display: flex;
  flex-direction: row;
}
.login__form-icon-facebook {
  color: $facebook-blue;
}
.login__form-icon {
  font-size: 2.3em;
}
.login__form-icon:nth-child(2) {
  padding-left: 0.4em;
  padding-right: 0.4em;
}
.login__form-text {
  white-space: nowrap;
  color: $light-gray;
  font-weight: 300;
}
.login__form-submit-button {
  height: 3.5em;
  width: 9em;
  font-weight: 600;
  white-space: nowrap;
}
.login__form-error-container{
  display: flex;
  align-items: center;
  height: 3em;
}
.login__form-wave-shape{
  display: none;
}

@media screen and (max-width: 1180px) {
  .login__form-container {
    max-width: 100%;
    margin-right: 0px;
  }
  .login__form-input {
    height: 4.5em;
  }
}
@media screen and (max-width: 580px){
  .login__form-button-icon-row{
   flex-direction: column;
  }
}
