.hero-circles__desktop {
  position: absolute;

  &:first-of-type {
    right: 0px;
    top: 15px;
  }
  &:nth-of-type(2) {
    left: 0;
    top: 10px;
  }
  &:nth-of-type(3) {
    right: 0;
    bottom: 0;
  }
}

.hero-circles__mobile {
  display: none;
}

@media screen and (max-width: 1120px) {
  .hero-circles__desktop {
    display: none;
  }

  .hero-circles__mobile {
    position: absolute;
    display: block;
    z-index: -1;

    &:first-of-type {
      right: 150px;
      top: 250px;
    }
    &:nth-of-type(2) {
      left: -50px;
      top: 40px;
    }
    &:nth-of-type(3) {
      right: 10px;
      top: 30px;
    }
  }
}

@media screen and (max-width: 930px) {
  .hero-circles__mobile {
    display: none;
  }
}
