@use "sass:map";
@import "../../../styles/helpers/variables";

$input-gray: map.get($colors, input-gray);
$facebook-blue: map.get($colors, facebook-blue);
$error_red: map.get($colors, error-red);
.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.register-form__container {
  display: flex;
  flex-direction: column;
  max-width: 30em;

}
.register-form__input-label__container{
    display: flex;
    align-items: center;
    
}
.register-form__input {
  height: 4em;
  border: 0em;
  background-color: $input-gray;
  flex-grow: 1;
}

.register-form__input-row{
    display: flex;
    flex-direction: column;
}
.register-form__label{
    float: left;
    width: 10em;
    white-space: nowrap;
    text-align: right;
    margin-right: 3em;
}
.register-form__error-container {
  display: flex;
  align-items: center;
  height: 2.2em;
  width: 90%;
}

.register-form__error {
  color: $error_red;
  font-size: 0.7em;
  text-align: center;
}

.register-form__input-alert-active {
  border: 1px solid $error_red;
}
.register-form__checkbox-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}