@use 'sass:map';
@import '../../../../styles/helpers/variables';

$border-gray: map.get($colors, border-gray);


    

.list-row__container-date{
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    border-right: 1px solid $border-gray;
    padding: 0 0.8em 0 0.8em;

    .list-item__date-text{
        font-weight: 500;
    }
    .list-row__list-item-date:first-of-type{
        margin-top: 15px;
        .list-item__date-text{
            font-size: 18px;
        }
    }
    .list-row__list-item-date:nth-child(2){
        margin-bottom: 15px;
    }
    
}
.list-row__list-item-type{
    margin-left: 0.8em;
}