@use 'sass:map';
@import '../../../styles/helpers/variables';
@import '../../../styles/helpers/mixins';

$background-color: map.get($colors, background-blue);
$text-shadow: map.get($colors, text-shadow);

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 100px 0;
  background-color: $background-color;
  position: relative;
}

.contact::before {
  @include pseudo-element-background;
  background-image: url('../../../assets/images/contact-background.jpg');
}

.contact__container {
  display: flex;
  gap: 7em;
  z-index: 2;
}

.contact__header {
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 0 3px 3px $text-shadow;
  font-size: 3rem;
  z-index: 2;
  margin: 0;
  padding: 25px 0 60px 0;
}

.contact__map,
.contact__form {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  outline: 1em solid #ffffff;
  width: 33em;
  height: 47em;
  justify-content: center;
  padding: 1em 0;
}

.contact__form-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact__icons {
  display: flex;
  flex-direction: row;
  gap: 2em;
  padding-top: 2rem;
}

.contact__icons-link,
.contact__info-link {
  text-decoration: none;
  color: #000;
  height: 2em;
  width: 2em;
}

.contact__icons svg {
  height: 2em;
  width: 2em;
}

.contact__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__info-phone {
  margin-top: 1em;
}

.contact__info-email {
  line-height: 40px;
  margin-bottom: 1.3em;
}

.contact__info-phone,
.contact__info-email {
  font-size: 1.1em;
  font-weight: 400;
  text-decoration: underline;
}

.contact__icons svg:first-of-type {
  margin-right: 1.4em;
}

.contact__link-hover:hover {
  color: map.get($colors, hover-link-blue);
}

@media screen and (max-width: 1180px) {
  .contact__container {
    flex-direction: column;
  }
}
@media screen and (max-width: 580px) {
  .contact__container {
    width: 20em;
    .contact__form {
      width: 20em;
    }
    .contact__map {
      height: 25em;
      width: 20em;
    }
  }
}
