.hero-circles__desktop {
  position: absolute;
  z-index: 1;

  &:first-of-type {
    right: 0px;
    top: 0px;
  }
  &:nth-of-type(2) {
    left: 0;
    top: 0px;
  }
  &:nth-of-type(3) {
    right: 0;
    bottom: 0;
  }
}

@media screen and (max-width: 1120px) {
  .hero-circles__desktop {
    display: none;
  }
}

@media screen and (max-width: 930px) {
}
