.hero-section {
  display: flex;
  justify-content: center;
}

.hero-section__content {
  border: 1px solid rgba(0, 0, 0, 0.458);
  width: 500px;
}

.hero-section__graphic {
  border: 1px solid rgba(0, 0, 0, 0.458);
  width: 500px;
}

.hero-section__button {
  font-size: 1.8rem;

  
  
}
