@use 'sass:map';
@import '../../../../../styles/helpers/variables';
$error_red: map.get($colors, error-red);

.contact-form_label {
  width: 90%;
  font-size: 0.9rem;
}

.contact-form__input,
.contact-form__textarea {
  border: 1px solid #000;
  width: 90%;
  height: 2.4em;
  box-sizing: border-box;
  padding-left: 1em;
}

.contact-form__input-alert-active {
  border: 1px solid $error_red;
  width: 90%;
  height: 2.4em;
  box-sizing: border-box;
  padding-left: 1em;
}

.contact-form__textarea {
  color: #000;
  font-family: 'Raleway';
  height: 14em;
  resize: none;
}

.contact-form__textarea-alert-active {
  border: 1px solid $error_red;
  resize: none;
  width: 90%;
  height: 14em;
  box-sizing: border-box;
  padding-left: 1em;
}