$typo-calendar-size: 2.5rem;
$calendar-conatiner-size: 30em;

.calendar__trainings-container {
  width: $calendar-conatiner-size;
  height: $calendar-conatiner-size;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.calendar__trainings-container {
  .MuiDateCalendar-root {
    max-height: $calendar-conatiner-size - 2em;

    margin-top: 1em;
  }

  .MuiPickersSlideTransition-root {
    min-height: $calendar-conatiner-size;
  }

  .MuiPickersDay-root {
    margin: 11px 9px;
    width: $typo-calendar-size;
    height: $typo-calendar-size;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 1rem;
  }

  .MuiTypography-root {
    margin: 10px 9px 0;
    font-family: 'Inter';
    font-weight: 300;
    width: $typo-calendar-size;
    height: $typo-calendar-size;
  }

  .MuiPickersCalendarHeader-label {
    font-size: 1.2rem;
    font-family: 'Inter';
    padding-left: 1em;
    font-weight: 200;
  }

  .MuiDateCalendar-viewTransitionContainer {
    height: 100%;
  }
}

@media screen and (max-width: 755px) {
  .calendar__trainings-container {
    width: 25em;
    height: 25em;
  }
}

@media screen and (max-width: 470px) {
  .calendar__trainings-container {
    width: 17em;
    height: 25em;
  }
}
