.calendar__list-container {
  width: 30em;
}

@media screen and (max-width: 755px) {
  .calendar__list-container {
    width: 25em;
  }
}

@media screen and (max-width: 470px) {
  .calendar__list-container {
    width: 17em;
  }
}
