@use 'sass:map';
@import '../../styles/helpers/variables';

.footer {
  display: flex;
  justify-content: center;
  background-color: map.get($colors, background-blue);
  padding: 0.1em 0;
  margin-top: 2em;
}
.footer__login-register-page {
  margin-top: 0em;
}
.footer__text {
  font-family: 'Inter';
  font-weight: 300;
  color: #ffffff;
  font-size: 0.9rem;
}

@media screen and (max-width: 580px) {
  .footer__text {
    font-weight: 400;
    font-size: 0.7rem;
  }
}
